<STYLE type ="text/css">
BODY {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: white;
	}
H2 {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: lightblue;
	}
LI {
	background-color: lightpink;
	}
CODE {
	background-color: lightgrey;
	}

